$background: honeydew;
$menu-item-color: green;

.bm-menu-wrap {
  width: 200px !important;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 25px;
  height: 20px;
  left: 20px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $menu-item-color;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $menu-item-color;
}

/* General sidebar styles */
.bm-menu {
  background: $background;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: $background;
}

/* Wrapper for item list */
.bm-item-list {
  color: $background;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item,
.menu-item:link,
.menu-item:visited {
  text-decoration: none;
  color: $menu-item-color;
}

.menu-item:hover {
  text-decoration: none;
  color: $menu-item-color;
  font-weight: bold;
}
