body {
  background: cornsilk;

  font-family: sans-serif;
}

.player {
  display: inline-block;

  margin: 1em;

  background-color: #efefef;
  border: 1px solid #ccc;
  border-radius: 0.5em;

  min-width: 10em;
  vertical-align: top;
}

.player-header {
  overflow: auto;

  padding: 1em;

  color: #efefef;
  background-color: #333;

  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.player-name {
  float: left;
}

.player-shots {
  float: right;
}

.player-delete {
  float: right;

  margin-left: 0.5em;

  visibility: hidden;
}
.player-header:hover .player-delete {
  visibility: visible;
}

.add-player button {
  cursor: pointer;

  background-color: #fdfdfd;
  border: 1px solid #ccc;
}

.player-delete button {
  padding: 0;

  cursor: pointer;

  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  text-decoration: none;
  color: #bdc3c7
}

a:link.group-link, a > div:link.link.group-link { color: #000000; }
a:visited.group-link, a > div:visited.group-link { color: #000000; }
a > div:hover.group-link { color: #000000; }
